.input__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
}

.input__container textarea {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--gruvbox-fg);
  font-family: var(--main-font);
  font-size: 1rem;
  min-height: 20px;
  width: 100%;
  padding: 0;
  resize: none;
  overflow: hidden;
  word-break: break-all;
}
