.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.terminal__container {
  height: 89vh;
  width: 90vw;
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid var(--gruvbox-gray);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--gruvbox-gray);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.message__prefix {
  white-space: nowrap;
}

.message__prefix__text {
  color: var(--gruvbox-orange);
}

.message__prefix__tilde {
  color: var(--gruvbox-aqua);
}

.message__prefix__mark {
  color: var(--gruvbox-green);
}

footer {
  font-size: small;
  display: flex;
  align-items: center;
}

footer p {
  margin: 0 10px 0 0;
}

footer svg {
  height: 18px;
}

.svg__container {
  margin-right: 10px;
  position: relative;
  background-color: var(--gruvbox-fg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg__container a {
  width: 18px;
  height: 18px;
}

.svg__github {
  fill: black;
}

.svg__linkedin {
  fill: #0e76a8;
}
