:root {
  --gruvbox-bg: #282828;
  --gruvbox-red: #fb4934;
  --gruvbox-aqua: #8ec07c;
  --gruvbox-yellow: #fabd2f;
  --gruvbox-purple: #d3869b;
  --gruvbox-blue: #83a598;
  --gruvbox-green: #b8bb26;
  --gruvbox-orange: #fe8019;
  --gruvbox-gray: #a89984;
  --gruvbox-fg: #ebdbb2;
  --main-font: "Fira Code", monospace;

  background-color: var(--gruvbox-bg);
  color: var(--gruvbox-fg);
  font-family: var(--main-font);
}
