.message__text {
  display: flex;
  word-break: break-all;
  gap: 0.5rem;
}

.message__error {
  color: var(--gruvbox-red);
}

.message__blue {
  color: var(--gruvbox-blue);
}

.message__neofetch {
  color: var(--gruvbox-green);
  margin: -1.5px;
}

.message__link {
  color: var(--gruvbox-blue);
  text-decoration: underline;
}
